<!DOCTYPE html>
<html>

<head>
  <title></title>
  <style>
    * {
      font-family: Calibri;
      font-size: 20px;
    }

    table,
    th,
    td {
      border: solid 1px #ddd;
      border-collapse: collapse;
      padding: 2px 3px;

      text-align: center;
    }

    th {
      font-weight: bold;
    }

    p {
      padding: 10px 0;
    }
  </style>
</head>

<body>
  <p id='showData'></p>
</body>

<script>
  let tableFromJson = () => {
    var jsonData = <%- JSON.stringify(data) %>;
    var tableData = eval(jsonData).result1;

    // console.log(typeof(tableData));
    // console.log(tableData);
    // console.log(tableData1);

    let col = [];
    for (let i = 0; i < tableData.length; i++) {
      for (let key in tableData[i]) {
        if (col.indexOf(key) === -1) {
          col.push(key);
        }
      }
    }

    const table = document.createElement("table");

    let tr = table.insertRow(-1);

    for (let i = 0; i < col.length; i++) {
      let th = document.createElement("th");
      th.innerHTML = col[i];
      tr.appendChild(th);
    }

    for (let i = 0; i < tableData.length; i++) {

      tr = table.insertRow(-1);

      for (let j = 0; j < col.length; j++) {
        let tabCell = tr.insertCell(-1);
        tabCell.innerHTML = tableData[i][col[j]];
      }
    }

    const divShowData = document.getElementById('showData');
    divShowData.innerHTML = "";
    divShowData.appendChild(table);
  }

  tableFromJson();
</script>

</html>