<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Art Gallery App</title>
    
    
    <!-- <style>
        body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.hdqwalls.com/wallpapers/aurora-fall-4k-9a.jpg");
  background-color: black;
  height: 97vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerName {
  margin-bottom: 200px;
}

.bottom-onehalf {
  margin-bottom: 0.5cm;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: blue;
}
footer {
  position: absolute;
  bottom: 10px;
  /* margin-bottom: 0px; */
}

#foot {
  text-align: center;
  color: white;
  /* size : 300px; */
  margin-bottom: 0px;
}

#submitBtn {
  height: 50px;
  width: 250px;
}

    </style> -->

    
</head>
 
<body>
   
    <center>
    <h1 class = "headerName" style="color:white;">Art Gallery App</h1>
    </center>
  
    <nav>
        <a href="/"></a>
        <ul>
          <li><a href="/QueryExecutor" class="bottom-onehalf" >Query Executor</a></li>
          <li><a href="Art Database" class="bottom-onehalf" >Art Database</a></li>
        </ul>
    </nav>
    <!-- <center>
        <form action="queryExecutor">
            <input type="submit" id="submitBtn" value="Query Executor" class="bottom-onehalf">
        </form>  
    </center>
 
    <center>
        <form action="showArts">
            <input type="submit" id="submitBtn" value="Art Database" class="bottom-onehalf">
        </form>  
    </center> -->
 
    <footer>
 
        <p id = 'foot'>
            Welcome to our Home Page!
        </styl>
        </p>
       
 
    </footer>
 
</body>
</html>