body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.hdqwalls.com/wallpapers/aurora-fall-4k-9a.jpg");
  background-color: black;
  height: 97vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.headerName {
  margin-bottom: 200px;
}

.bottom-onehalf {
  margin-bottom: 0.5cm;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: blue;
}

.footer {

  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 30px;
  margin-right: 20px;
  text-align: center;
}

#submitBtn {
  height: 50px;
  width: 250px;
}

